body {
    background: #ab5db6 url(https://pbs.twimg.com/media/D9LzezaWwAA-UqT.jpg:large); 
background-size: 1530px auto;
 color: 	#180e1a;
}
h1, h2 { 
    text-align: center; 
}
.tx1 {
    width: 30%;
    height:40px;
    text-align: center;
}
